body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.contenedor {
    background-color: #fff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input, textarea, select {
    width: 95%;
    padding: 10px;
    margin: 2px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
}

input:focus{
    outline: none
}

textarea {
    resize: none;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4c8f50;
}